*{
    color: white;
    background-color: black;
    h1{
        text-align: center;
        color: white;
    }
}
.center_image{
    align-items: center;
    width: 100%;

    img{
        justify-content: flex-end;
        width: 100%;
        margin: auto;
        align-items: center;
        align-content: center;

    }
    img:hover{
        transform-box: 0.5s;
    }
}
.login-form{
    border-radius: 6px;
    border-color: aqua;
    padding: 50px;
    margin-top: 130px;
    align-items: center;
    justify-content: center;

    & input{
        margin: 5px;
        border-radius: 8px;
        text-align: justify;
    }
    input:hover{
        margin: 4px;
    }
    button{
        border-radius: 6px;
        
    }
}